body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column; /* Cambiar a columnas */
}



.sidebar {
    width: 200px;
    background: #f4f4f4;
    padding: 15px;
    position: fixed; /* Fijar la barra lateral */
}



.content {
    flex: 1;
    padding: 20px;
    margin-left: 0; /* Sin margen para que ocupe el espacio completo */
}



header {
    background: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #f4f4f4;
}
