body {
    font-family: Arial, sans-serif;
    line-height: 2.1;
    margin: 0; /* Eliminar márgenes del cuerpo */
    padding: 0; /* Eliminar padding del cuerpo */
    background-color: #292013; /* Color café claro para el fondo */
}

.App {
    display: flex;
    flex-direction: column; /* Cambiar a columnas */
    height: 100vh; /* Asegurar que ocupe toda la altura de la ventana */
}

/* Estilos del sidebar */
.sidebar {
    width: 100%; /* Cambiar a ancho completo */
    background: #2c2c2c; /* Color de fondo más oscuro */
    padding: 10px; /* Espaciado interno */
    position: fixed; /* Fijar la barra lateral */
    height: 60px; /* Altura de la barra horizontal */
    top: 0; /* Asegurar que esté alineada en la parte superior */
    z-index: 10; /* Asegurar que esté por encima del fondo rosa */
    display: flex; /* Usar flexbox para alinear elementos */
    justify-content: space-around; /* Espaciado entre los enlaces */
    overflow: visible; /* Permitir que los elementos hijos sean visibles */
}

.sidebar-link {
    color: #A0D3E8; /* Color del texto celeste pastel */
    text-decoration: none; /* Sin subrayado */
    background: none; /* Sin fondo */
    border: none; /* Sin bordes */
    transition: background 0.3s, color 0.3s, transform 0.3s; /* Transición suave */
    font-size: 1.5em; /* Aumentar tamaño de fuente */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor a puntero */
    margin: 0 10px; /* Agregar separación entre los botones */
    transform: translateY(-15px);
}

.sidebar-link:hover {
    background: rgba(173, 216, 230, 0.5); /* Fondo celeste pastel al pasar el mouse */
    color: #ffffff; /* Cambiar color del texto al pasar el mouse */
    transform: translateY(-10px); /* Desplazar ligeramente hacia arriba al pasar el mouse */
    z-index: 1; /* Asegurar que el botón esté por encima de otros elementos */
}

header {
    background: rgb(255, 187, 198); /* Cambiar el fondo a rosa */
    color: #4B3C3C; /* Cambiar el color del texto a marrón oscuro */
    padding: 93px 0; /* Ajustar padding a 93px */
    text-align: center; /* Centrar el texto */
    position: relative; /* Cambiar a posición relativa */
    height: 100vh; /* Asegurar que ocupe toda la altura de la ventana */
}

.fade {
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
}

header h2 {
    font-size: 2.5em; /* Tamaño del título Universidad UFLO */
    font-weight: bold; /* Negrita */
}

header h3 {
    font-size: 2em; /* Tamaño del subtítulo */
}

header ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #f4f4f4;
    position: absolute; /* Asegurar que el pie de página esté al final */
    bottom: 0; /* Asegurar que esté al final de la página */
    width: 100%; /* Asegurar que ocupe todo el ancho */
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: pink; /* Cambiar el color de fondo a rosa */
    text-align: center; /* Centrar el texto */
}

.cover h1 {
    font-size: 2.5em; /* Tamaño del título */
}

.cover h2 {
    font-size: 1.5em; /* Tamaño del subtítulo */
}

.cover ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
}

.content {
    margin: 15px; /* Ajustar el margen alrededor del contenido */
    margin-top: 2vh; /* Asegurar que el contenido comience después del encabezado */
}

.content section:nth-child(odd) {
    background-color: #f0f0f0; /* Color ligeramente más oscuro */
    color: #333; /* Texto oscuro */
    padding: 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

.content section:nth-child(even) {
    background-color: #2c2c2c; /* Color oscuro */
    color: #f9f9f9; /* Texto claro */
    padding: 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}
